/* Fixed Navigation Bar*/

.global-nav-inner {
  opacity: 0.8 !important;
  -webkit-transition: opacity  .4s ease-in-out;
  -moz-transition   : opacity  .4s ease-in-out;
  transition        : opacity  .4s ease-in-out;
}

.global-nav-inner:hover {
  opacity: 1 !important;
}

.logged-in {
  background-position: center top !important;
}

/* Main Container*/
.ProfilePage {
  min-width: 0 !important;
}

#page-container {
  width: 590px !important;
  margin: 0 auto !important;
}

.DashboardProfileCard {
  background: none !important;
  border: none !important;
}

.content-main,
.dashboard {
  width: 100% !important;
}

.DashboardProfileCard-userFields,
.DashboardProfileCard-bg,
.DashboardProfileCard-stats,
.DashboardProfileCard-avatarLink {
  display: none !important;
}

.tweet-user {
  border-radius: 5px !important;
}

  .DashboardProfileCard-tweetbox {
    width: auto !important;
  }

  #tweet-box-mini-home-profile, #tweet-box-global {
    font-size: 15px !important;
    line-height: 140% !important;
  }

  .tweet-box {
    padding: 8px 8px !important;
  }

/* Stream Tweet Layout*/

#stream-items-id,
.ProfileTweet-text,
.ProfileTweet .twitter-hashtag b,
.ProfileTweet .twitter-atreply b {
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 140% !important;
}

.tweet {
  -webkit-transition: all .2s ease-in-out !important;
  -moz-transition   : all .2s ease-in-out !important;
  transition        : all .2s ease-in-out !important;
}
  .tweet p {
    padding-top: 2px;
  }

.time,
.time a,
.metadata,
.metadata a,
.username,
.username a {
  font-size: 12px !important;
}

/* Sidebar Modules*/

.wtf-module,
.Footer.module,
.promoted-tweet,
.module.trends,
.profile-summary,
.module.profile-nav,
.module.enhanced-media-thumbnails
 {
  display: none !important;
}

/* Profile Page */

.Grid-cell[data-test-selector=ProfileTimeline] + .u-size1of3,
.Grid--withGutter > .u-size1of4 {
  display: none !important;
}

.Grid-cell[data-test-selector=ProfileTimeline],
.AppContent-main[role=main] .u-size2of3,
.AppContent-main[role=main] .u-size3of4 {
  width: 100% !important;
}

.ProfileSocialProof,
.ProfilePhotoRail {
  display: none !important;
}

.ProfileCanopy {
  height: auto !important;
}

.ProfileCanopy-inner {
  box-shadow: 0 1px 8px hsla(0, 0%, 0%, .6) !important;
}

.ProfileCanopy-inner,
.ProfileCanopy-header,
.ProfileCanopy-navBar {
  width: 590px !important;
}

.ProfileCanopy-nav {
  width: 500px !important;
  margin-left: 80px !important;
}

.ProfileCanopy-header {
  height: 180px !important;
}

.ProfileCanopy-avatar {
  position: absolute !important;
  bottom: -54px !important;
  left: 20px !important;
}

.ProfileAvatar {
  height: 48px !important;
  width: 48px !important;
  border: 0 !important;
  border-radius: 0 !important;
}

.ProfileNav-stat {
  padding: 14px 14px 7px !important;
}

  .ProfileNav-item--media,
  .ProfileNav-item--more {
    display: none !important;
  }

  .ProfileNav-value {
    font-size: 14px !important;
  }

  .btn.small {
    padding: 2px 2px 5px !important;
  }

  .ProfileNav-item--favorites.is-hidden,
  .ProfileNav-item--followers.is-hidden {
    display: inline-block !important;
  }